.outerDiv {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

.imgDiv {
  width: 150px;
  height: 100px;
  margin-right: 1rem;
  overflow: hidden;
  padding: 5px;
  border: 1px solid var(--border-gray);
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  color: black;
}

.productCountOuterDiv {
  display: flex;
  align-items: center;
}

.productCountDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  border: 1px solid var(--border-gray);
  height: 30px;
}

.countBtn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.countBtn:hover {
  background-color: var(--border-gray);
}
.countBtn:active {
  background-color: rgb(58, 58, 58);
}

.count {
  flex: 1;
  text-align: center;
}

.removeBtnDiv {
  margin-left: 20px;
  cursor: pointer;
}
